// 変数宣言

$blue:#3F51B5;
$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 576px;  // スマホ

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


// 変数宣言ここまで

body {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',sans-serif;

}



// start navbar section version1
.navbar {
    background-color:$blue;
    height:100px;

    

    .navbar-nav{
        width:344px;
        margin-right:119px;
        display:flex;
        justify-content: space-between;

        .nav-item {
            

            .nav-link {
                color:#FFFFFF;
                font-size:16px;
            }


        }
        .active {
            border-bottom: 3px solid #e81919;
        }
    }

}

// end navbar section version1

//start navbar section version2

//end navbar section version2

// start header section

.header {

    .header-container {
        width:100%;
        // background-image: url(../images/mainvisual.png);
        // background-size: cover;
        // background-position: center center;
        // height:600px;
        height:calc(100vh - 100px);
        position: relative;

        .swiper-slide {
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .main-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            z-index: 5;

            .lead-title {
                font-weight: bold;
                font-size:68px;
                padding-bottom:12px;

                @include tab {
                    font-size:50px;
                }
                @include sp {
                    font-size:35px;
                }
            }
            .lead-sentence {
                font-weight: bold;
                font-size:30px;
                width:80%;
                margin:0 auto;
                padding-bottom:70px;

                @include tab {
                    font-size:25px;
                }
                @include sp {
                    font-size:20px;
                }
            }
            .btn {
                background-color: $blue;
                color:#fff;
                font-weight: bold;
                font-size:30px;
                padding:17px 81px;
                border-radius: 20px;

                @include tab {
                    font-size:25px;

                }
                @include sp {
                    font-size:20px;
                }
            }
        }
    }


}

// end header section


// start card section

.card-section-container {
    
    width: 100%;
    background-color: #EFEFEF;

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size:60px;
        padding-top:68px;

        @include tab {
            font-size:50px;
        }
        @include sp {
            font-size: 35px;
        }
    }
    .section-line {
        width:50px;
        background-color:$blue;
        border:none;
        height:5px;

    }
    .card-list {
        padding: 60px 100px 130px 100px;
        list-style:none;
        margin:0;

        @include sp {
            padding: 30px 10px 50px 10px;
        }

        li {
            padding :15px;
            
            .card-container{
                background-color: #fff;
                padding: 16px;

                .card-image {
                    background-color:#DDDDDD;
                    width:100%;
                    height: 160px;
                    margin-bottom:20px;
                }
                .card-title {
                    font-size:20px;
                    margin-bottom:10px;
                }
                .card-sentence {
                    font-size:16px;
                    margin-bottom:10px;
                }
            }
        }
            

        
    }
}


// end card section

// start news section

.news-section-container {
    width: 100%;
    background-color: white;

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size:60px;
        padding-top:68px;

        @include tab {
            font-size:50px;
        }
        @include sp {
            font-size: 35px;
        }
    }
    .section-line {
        width:50px;
        background-color:$blue;
        border:none;
        height:5px;
    }

    .news-content {
        width: 80%;
        margin: 50px auto 20px auto;

        @include tab {
            width : 100%;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                display: flex;
                align-items: center;
                border-bottom: 3px solid #EFEFEF;
                margin: 0;

                &:last-of-type {
                    border-bottom: none;
                }

                p {
                    margin-bottom : 0;
                }

                .news-label {
                    background-color: $blue;
                    color: white;
                    text-align: center;
                    border-radius: 10px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                .news-date {
                    text-align: center;
                }
            }
        }
    }

    .news-more {
        text-align:  center;
        color:#E81919;
        margin-bottom: 30px;
    }

}

// end news section

// start price section

.price-section-container {
    width: 100%;
    background-color: #EFEFEF;

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size:60px;
        padding-top:68px;

        @include tab {
            font-size:50px;
        }
        @include sp {
            font-size: 35px;
        }
    }
    .section-line {
        width:50px;
        background-color:$blue;
        border:none;
        height:5px;
    }

    .price-content-container {
        width: 80%;
        justify-content: space-between;
        margin: 50px auto 0 auto;

        img {
            padding-bottom: 130px;
        }

        .table-container {
            padding-bottom: 130px;
            .price-table {
                table-layout: fixed;
                width: 100%;
                border:1px solid #707070;
                border-collapse: collapse;
                text-align: center;
                margin-bottom: 10px;
    
                th, td {
    
                border:1px solid #707070;
                height: 50px;
                    
                }
                th {
                    background-color: #999999;
                    color:white;
                    font-weight: bold;
                    font-size: 16px;
                    &:first-child {
                        width: 30%;
                    }
                }
                td {
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }

    }

   

}


// end price section





// start access section

.access-section-container {
    width: 100%;
    background-color: white;
    padding-bottom: 130px;

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size:60px;
        padding-top:68px;

        @include tab {
            font-size:50px;
        }
        @include sp {
            font-size: 35px;
        }
    }
    .section-line {
        width:50px;
        background-color:$blue;
        border:none;
        height:5px;
    }

    .access-content-container {
        width: 60%;
        margin: 50px auto 0 auto;

        .map-wrap {
            text-align: center;
            position: relative;
            width: 100%;
            padding-top: 75%; /* = height ÷ width × 100 */

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .access-direction-table {
            margin-top: 30px;
        }
        .map-button {
            display: block;
            text-align: center;
            width: 250px;
            margin: 0 auto;
            margin-top: 30px;
            background-color: $blue;
            color:#fff;
            font-weight: bold;
            font-size:20px;
            padding:10px 20px;
            border-radius: 10px;

            @include tab {
                // font-size:25px;

            }
            @include sp {
                // font-size:20px;
            }
        }

    }

    

   

}
// end access section

// start contact section

.contact-section-container {
    width: 100%;
    background-color: #EFEFEF;
    padding-bottom: 130px;

    .section-title {
        text-align: center;
        font-weight: bold;
        font-size:60px;
        padding-top:68px;

        @include tab {
            font-size:50px;
        }
        @include sp {
            font-size: 35px;
        }
    }
    .section-line {
        width:50px;
        background-color:$blue;
        border:none;
        height:5px;
    }

    .contact-content-container {
        width: 60%;
        margin: 50px auto 0 auto;
        background-color: white;
        padding-bottom: 40px;

        .row {
            margin: 40px;
            &:first-child {
                padding-top: 40px;
            }
        }
        .radio-container {
            input {
                margin-left: 20px;
            }
        }
        .check-container {
            justify-content: center;
        }
        .contact-button {
            display: block;
            text-align: center;
            width: 250px;
            margin: 0 auto;
            margin-top: 30px;
            background-color: $blue;
            color:#fff;
            font-weight: bold;
            font-size:20px;
            padding:10px 20px;
            border-radius: 10px;

            @include tab {
                // font-size:25px;

            }
            @include sp {
                // font-size:20px;
            }
        }

    }

    

   

}
// end contact section


// start footer section

.footer-container {
    background: linear-gradient(to bottom, #666666 0%, #333333 100%);
    margin: 0 auto;
    justify-content: space-around;
    padding: 60px 0 20px 0;
    
    div {
        padding: 0;
        margin-bottom: 30px;
    }

    .footer-left {
        text-align: center;

        img {
            margin-bottom: 20px;
        }
        p {
            color: white;
            opacity: 0.7;
        }

    }

    .footer-center {
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            color: white;
            opacity: 0.9;

            @include sp {
                justify-content: space-around;
            }
        }

    }

    .footer-right {
        display: flex;
        
        @include sp {
            justify-content: center;
        }

        .ball {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 10px;

            @include sp {
                margin: 10px;
            }
            
        }
        .skyblue-ball {
            background-color:#55ACEE ;
        }
        .blue-ball {
            background-color: #3B5998;
        }
        .pink-ball {
            background-color:#D93177 ;
        }
        
    }
    .copyright {
        text-align: center;
        color: white;
        opacity: 0.7;
    }
    
}

// end footer section
// start price section
// end price section




//start heading practice

.heading-container {
    margin:100px auto;
    text-align: center;

    h1 {
        margin:0 auto 30px auto;
        width: 50%;
        font-size:1.5rem;

    }
    .heading-1 {
        border-bottom: solid 3px $blue;
    }
    .heading-2 {
        border-bottom: dotted 3px $blue;
    }
    .heading-3 {
        background-color: $blue;
        color:white;
    }
    .heading-4 {
        background-color: #7385E9;
        box-shadow: 0 3px $blue;
        color: white;
    }
    .heading-5 {
        border-left: solid 5px $blue;
    }
    .heading-6 {
        background: linear-gradient(to bottom, transparent 70%, #a7d6ff 70%)
    }
    .heading-8 {
        background-color: $blue;
        position: relative;
        color: white;

        &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 30px;
            border: 15px solid transparent;
            border-top: 15px solid $blue;
            width:0;
            height: 0;

        }
    }
    .heading-9 {
        border-bottom:solid 3px $blue;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            border-bottom: solid 3px #ffc778;
            display:block;
            // bottom: -3px;
            width: 30%;
        }
    }
    .heading-10 {
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            display:inline-block;
            width: 5px;
            height: 20px;
            background-color: black;
            transform: translateY(-50%);
            left: 0;
        }
    }
}



//end heading practice








/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/